/*font imports animation library*/

@font-face {
  font-family: "Calibre Black";
  src: url("../assets/fonts/CalibreBlack.woff");
}
@font-face {
  font-family: "Calibre Black Italic";
  src: url("../assets/fonts/CalibreBlackItalic.woff");
}
@font-face {
  font-family: "Calibre Bold";
  src: url("../assets/fonts/CalibreBold.woff");
}
@font-face {
  font-family: "Calibre Bold Italic";
  src: url("../assets/fonts/CalibreBoldItalic.woff");
}
@font-face {
  font-family: "Calibre Light";
  src: url("../assets/fonts/CalibreLight.woff");
}
@font-face {
  font-family: "Calibre Light Italic";
  src: url("../assets/fonts/CalibreLightItalic.woff");
}
@font-face {
  font-family: "Calibre Medium";
  src: url("../assets/fonts/CalibreMedium.woff");
}
@font-face {
  font-family: "Calibre Medium";
  src: url("../assets/fonts/CalibreMediumItalic.woff");
}
@font-face {
  font-family: "Calibre Regular";
  src: url("../assets/fonts/CalibreRegular.woff");
}
@font-face {
  font-family: "Calibre Regular Italic";
  src: url("../assets/fonts/CalibreRegularItalic.woff");
}
@font-face {
  font-family: "Calibre Semibold";
  src: url("../assets/fonts/CalibreSemibold.woff");
}
@font-face {
  font-family: "Calibre Semibold Italic";
  src: url("../assets/fonts/CalibreSemiboldItalic.woff");
}
@font-face {
  font-family: "Calibre Thin";
  src: url("../assets/fonts/CalibreThin.woff");
}
@font-face {
  font-family: "Calibre Thin Italic";
  src: url("../assets/fonts/CalibreThinItalic.woff");
}

h1,
h2,
h3 {
  font-family: "Calibre Bold";
}
h4 {
  font-family: "Calibre SemiBold";
}
body {
  margin: 0;
}

#layout-container {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  font-family: "Calibre Regular";
  margin: 0;
}
p,
li {
  font-family: "Calibre Regular";
}

/*BLOB*/
:root {
  --color-primary: rgb(26, 26, 26);
  --color-primary-light: #becada;
  --color-primary-dark: black;
}
.blob {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vmin;
  height: 50vmin;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blob__chunk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.blob__chunk:nth-of-type(1) {
  -webkit-animation-name: animate-blob-1;
  animation-name: animate-blob-1;
}
.blob__chunk:nth-of-type(2) {
  -webkit-animation-name: animate-blob-2;
  animation-name: animate-blob-2;
}
.blob__chunk:nth-of-type(3) {
  -webkit-animation-name: animate-blob-3;
  animation-name: animate-blob-3;
}
.blob__chunk:nth-of-type(4) {
  -webkit-animation-name: animate-blob-4;
  animation-name: animate-blob-4;
}
.blob__chunk:nth-of-type(5) {
  -webkit-animation-name: animate-blob-5;
  animation-name: animate-blob-5;
}
.blob__chunk:nth-of-type(6) {
  -webkit-animation-name: animate-blob-6;
  animation-name: animate-blob-6;
}
.blob__chunk:nth-of-type(7) {
  -webkit-animation-name: animate-blob-7;
  animation-name: animate-blob-7;
}
.blob__chunk:nth-of-type(8) {
  -webkit-animation-name: animate-blob-8;
  animation-name: animate-blob-8;
}
.blob__chunk:nth-of-type(9) {
  -webkit-animation-name: animate-blob-9;
  animation-name: animate-blob-9;
}
.blob__chunk:nth-of-type(10) {
  -webkit-animation-name: animate-blob-10;
  animation-name: animate-blob-10;
}

@-webkit-keyframes animate-blob-1 {
  0% {
    border-radius: 33% 67% 57% 43%/38% 39% 61% 62%;
    -webkit-transform: rotate(16deg) translate(-1%, 2%);
    transform: rotate(16deg) translate(-1%, 2%);
  }
  7% {
    border-radius: 43% 57% 57% 43%/48% 42% 58% 52%;
    -webkit-transform: rotate(52deg) translate(1%, -1%);
    transform: rotate(52deg) translate(1%, -1%);
  }
  23% {
    border-radius: 30% 70% 54% 46%/38% 37% 63% 62%;
    -webkit-transform: rotate(88deg) translate(0%, -2%);
    transform: rotate(88deg) translate(0%, -2%);
  }
  32% {
    border-radius: 48% 52% 60% 40%/46% 48% 52% 54%;
    -webkit-transform: rotate(124deg) translate(2%, 2%);
    transform: rotate(124deg) translate(2%, 2%);
  }
  41% {
    border-radius: 31% 69% 54% 46%/37% 41% 59% 63%;
    -webkit-transform: rotate(160deg) translate(-1%, -2%);
    transform: rotate(160deg) translate(-1%, -2%);
  }
  47% {
    border-radius: 42% 58% 69% 31%/33% 50% 50% 67%;
    -webkit-transform: rotate(196deg) translate(-1%, 2%);
    transform: rotate(196deg) translate(-1%, 2%);
  }
  57% {
    border-radius: 32% 68% 50% 50%/31% 40% 60% 69%;
    -webkit-transform: rotate(232deg) translate(-2%, -2%);
    transform: rotate(232deg) translate(-2%, -2%);
  }
  70% {
    border-radius: 44% 56% 63% 37%/31% 48% 52% 69%;
    -webkit-transform: rotate(268deg) translate(0%, 0%);
    transform: rotate(268deg) translate(0%, 0%);
  }
  83% {
    border-radius: 39% 61% 64% 36%/36% 45% 55% 64%;
    -webkit-transform: rotate(304deg) translate(1%, 2%);
    transform: rotate(304deg) translate(1%, 2%);
  }
  88% {
    border-radius: 34% 66% 56% 44%/38% 43% 57% 62%;
    -webkit-transform: rotate(340deg) translate(-1%, -1%);
    transform: rotate(340deg) translate(-1%, -1%);
  }
  100% {
    border-radius: 33% 67% 57% 43%/38% 39% 61% 62%;
    -webkit-transform: rotate(376deg) translate(-1%, 2%);
    transform: rotate(376deg) translate(-1%, 2%);
  }
}

@keyframes animate-blob-1 {
  0% {
    border-radius: 33% 67% 57% 43%/38% 39% 61% 62%;
    -webkit-transform: rotate(16deg) translate(-1%, 2%);
    transform: rotate(16deg) translate(-1%, 2%);
  }
  7% {
    border-radius: 43% 57% 57% 43%/48% 42% 58% 52%;
    -webkit-transform: rotate(52deg) translate(1%, -1%);
    transform: rotate(52deg) translate(1%, -1%);
  }
  23% {
    border-radius: 30% 70% 54% 46%/38% 37% 63% 62%;
    -webkit-transform: rotate(88deg) translate(0%, -2%);
    transform: rotate(88deg) translate(0%, -2%);
  }
  32% {
    border-radius: 48% 52% 60% 40%/46% 48% 52% 54%;
    -webkit-transform: rotate(124deg) translate(2%, 2%);
    transform: rotate(124deg) translate(2%, 2%);
  }
  41% {
    border-radius: 31% 69% 54% 46%/37% 41% 59% 63%;
    -webkit-transform: rotate(160deg) translate(-1%, -2%);
    transform: rotate(160deg) translate(-1%, -2%);
  }
  47% {
    border-radius: 42% 58% 69% 31%/33% 50% 50% 67%;
    -webkit-transform: rotate(196deg) translate(-1%, 2%);
    transform: rotate(196deg) translate(-1%, 2%);
  }
  57% {
    border-radius: 32% 68% 50% 50%/31% 40% 60% 69%;
    -webkit-transform: rotate(232deg) translate(-2%, -2%);
    transform: rotate(232deg) translate(-2%, -2%);
  }
  70% {
    border-radius: 44% 56% 63% 37%/31% 48% 52% 69%;
    -webkit-transform: rotate(268deg) translate(0%, 0%);
    transform: rotate(268deg) translate(0%, 0%);
  }
  83% {
    border-radius: 39% 61% 64% 36%/36% 45% 55% 64%;
    -webkit-transform: rotate(304deg) translate(1%, 2%);
    transform: rotate(304deg) translate(1%, 2%);
  }
  88% {
    border-radius: 34% 66% 56% 44%/38% 43% 57% 62%;
    -webkit-transform: rotate(340deg) translate(-1%, -1%);
    transform: rotate(340deg) translate(-1%, -1%);
  }
  100% {
    border-radius: 33% 67% 57% 43%/38% 39% 61% 62%;
    -webkit-transform: rotate(376deg) translate(-1%, 2%);
    transform: rotate(376deg) translate(-1%, 2%);
  }
}
@-webkit-keyframes animate-blob-2 {
  0% {
    border-radius: 30% 70% 51% 49%/46% 49% 51% 54%;
    -webkit-transform: rotate(20deg) translate(0%, 0%);
    transform: rotate(20deg) translate(0%, 0%);
  }
  9% {
    border-radius: 50% 50% 54% 46%/45% 34% 66% 55%;
    -webkit-transform: rotate(53deg) translate(0%, -2%);
    transform: rotate(53deg) translate(0%, -2%);
  }
  21% {
    border-radius: 39% 61% 51% 49%/36% 42% 58% 64%;
    -webkit-transform: rotate(86deg) translate(1%, -1%);
    transform: rotate(86deg) translate(1%, -1%);
  }
  27% {
    border-radius: 47% 53% 63% 37%/35% 41% 59% 65%;
    -webkit-transform: rotate(119deg) translate(-2%, -2%);
    transform: rotate(119deg) translate(-2%, -2%);
  }
  40% {
    border-radius: 45% 55% 65% 35%/42% 33% 67% 58%;
    -webkit-transform: rotate(152deg) translate(1%, -2%);
    transform: rotate(152deg) translate(1%, -2%);
  }
  45% {
    border-radius: 32% 68% 64% 36%/49% 49% 51% 51%;
    -webkit-transform: rotate(185deg) translate(0%, 0%);
    transform: rotate(185deg) translate(0%, 0%);
  }
  53% {
    border-radius: 35% 65% 67% 33%/49% 46% 54% 51%;
    -webkit-transform: rotate(218deg) translate(2%, 0%);
    transform: rotate(218deg) translate(2%, 0%);
  }
  61% {
    border-radius: 33% 67% 57% 43%/42% 37% 63% 58%;
    -webkit-transform: rotate(251deg) translate(1%, 2%);
    transform: rotate(251deg) translate(1%, 2%);
  }
  76% {
    border-radius: 34% 66% 63% 37%/32% 39% 61% 68%;
    -webkit-transform: rotate(284deg) translate(2%, 2%);
    transform: rotate(284deg) translate(2%, 2%);
  }
  82% {
    border-radius: 33% 67% 65% 35%/50% 41% 59% 50%;
    -webkit-transform: rotate(317deg) translate(-2%, 2%);
    transform: rotate(317deg) translate(-2%, 2%);
  }
  94% {
    border-radius: 46% 54% 54% 46%/43% 39% 61% 57%;
    -webkit-transform: rotate(350deg) translate(-1%, 2%);
    transform: rotate(350deg) translate(-1%, 2%);
  }
  100% {
    border-radius: 30% 70% 51% 49%/46% 49% 51% 54%;
    -webkit-transform: rotate(380deg) translate(0%, 0%);
    transform: rotate(380deg) translate(0%, 0%);
  }
}
@keyframes animate-blob-2 {
  0% {
    border-radius: 30% 70% 51% 49%/46% 49% 51% 54%;
    -webkit-transform: rotate(20deg) translate(0%, 0%);
    transform: rotate(20deg) translate(0%, 0%);
  }
  9% {
    border-radius: 50% 50% 54% 46%/45% 34% 66% 55%;
    -webkit-transform: rotate(53deg) translate(0%, -2%);
    transform: rotate(53deg) translate(0%, -2%);
  }
  21% {
    border-radius: 39% 61% 51% 49%/36% 42% 58% 64%;
    -webkit-transform: rotate(86deg) translate(1%, -1%);
    transform: rotate(86deg) translate(1%, -1%);
  }
  27% {
    border-radius: 47% 53% 63% 37%/35% 41% 59% 65%;
    -webkit-transform: rotate(119deg) translate(-2%, -2%);
    transform: rotate(119deg) translate(-2%, -2%);
  }
  40% {
    border-radius: 45% 55% 65% 35%/42% 33% 67% 58%;
    -webkit-transform: rotate(152deg) translate(1%, -2%);
    transform: rotate(152deg) translate(1%, -2%);
  }
  45% {
    border-radius: 32% 68% 64% 36%/49% 49% 51% 51%;
    -webkit-transform: rotate(185deg) translate(0%, 0%);
    transform: rotate(185deg) translate(0%, 0%);
  }
  53% {
    border-radius: 35% 65% 67% 33%/49% 46% 54% 51%;
    -webkit-transform: rotate(218deg) translate(2%, 0%);
    transform: rotate(218deg) translate(2%, 0%);
  }
  61% {
    border-radius: 33% 67% 57% 43%/42% 37% 63% 58%;
    -webkit-transform: rotate(251deg) translate(1%, 2%);
    transform: rotate(251deg) translate(1%, 2%);
  }
  76% {
    border-radius: 34% 66% 63% 37%/32% 39% 61% 68%;
    -webkit-transform: rotate(284deg) translate(2%, 2%);
    transform: rotate(284deg) translate(2%, 2%);
  }
  82% {
    border-radius: 33% 67% 65% 35%/50% 41% 59% 50%;
    -webkit-transform: rotate(317deg) translate(-2%, 2%);
    transform: rotate(317deg) translate(-2%, 2%);
  }
  94% {
    border-radius: 46% 54% 54% 46%/43% 39% 61% 57%;
    -webkit-transform: rotate(350deg) translate(-1%, 2%);
    transform: rotate(350deg) translate(-1%, 2%);
  }
  100% {
    border-radius: 30% 70% 51% 49%/46% 49% 51% 54%;
    -webkit-transform: rotate(380deg) translate(0%, 0%);
    transform: rotate(380deg) translate(0%, 0%);
  }
}
@-webkit-keyframes animate-blob-3 {
  0% {
    border-radius: 45% 55% 66% 34%/31% 41% 59% 69%;
    -webkit-transform: rotate(2deg) translate(-2%, -2%);
    transform: rotate(2deg) translate(-2%, -2%);
  }
  7% {
    border-radius: 44% 56% 67% 33%/44% 37% 63% 56%;
    -webkit-transform: rotate(38deg) translate(1%, 2%);
    transform: rotate(38deg) translate(1%, 2%);
  }
  23% {
    border-radius: 44% 56% 52% 48%/41% 42% 58% 59%;
    -webkit-transform: rotate(74deg) translate(1%, -2%);
    transform: rotate(74deg) translate(1%, -2%);
  }
  28% {
    border-radius: 43% 57% 69% 31%/42% 44% 56% 58%;
    -webkit-transform: rotate(110deg) translate(-2%, -2%);
    transform: rotate(110deg) translate(-2%, -2%);
  }
  42% {
    border-radius: 42% 58% 63% 37%/33% 31% 69% 67%;
    -webkit-transform: rotate(146deg) translate(0%, 1%);
    transform: rotate(146deg) translate(0%, 1%);
  }
  52% {
    border-radius: 47% 53% 65% 35%/43% 30% 70% 57%;
    -webkit-transform: rotate(182deg) translate(-2%, -2%);
    transform: rotate(182deg) translate(-2%, -2%);
  }
  63% {
    border-radius: 49% 51% 70% 30%/35% 30% 70% 65%;
    -webkit-transform: rotate(218deg) translate(-1%, 0%);
    transform: rotate(218deg) translate(-1%, 0%);
  }
  67% {
    border-radius: 34% 66% 51% 49%/42% 36% 64% 58%;
    -webkit-transform: rotate(254deg) translate(0%, -2%);
    transform: rotate(254deg) translate(0%, -2%);
  }
  77% {
    border-radius: 40% 60% 66% 34%/40% 40% 60% 60%;
    -webkit-transform: rotate(290deg) translate(-1%, -1%);
    transform: rotate(290deg) translate(-1%, -1%);
  }
  88% {
    border-radius: 45% 55% 57% 43%/36% 44% 56% 64%;
    -webkit-transform: rotate(326deg) translate(-2%, 2%);
    transform: rotate(326deg) translate(-2%, 2%);
  }
  100% {
    border-radius: 45% 55% 66% 34%/31% 41% 59% 69%;
    -webkit-transform: rotate(362deg) translate(-2%, -2%);
    transform: rotate(362deg) translate(-2%, -2%);
  }
}
@keyframes animate-blob-3 {
  0% {
    border-radius: 45% 55% 66% 34%/31% 41% 59% 69%;
    -webkit-transform: rotate(2deg) translate(-2%, -2%);
    transform: rotate(2deg) translate(-2%, -2%);
  }
  7% {
    border-radius: 44% 56% 67% 33%/44% 37% 63% 56%;
    -webkit-transform: rotate(38deg) translate(1%, 2%);
    transform: rotate(38deg) translate(1%, 2%);
  }
  23% {
    border-radius: 44% 56% 52% 48%/41% 42% 58% 59%;
    -webkit-transform: rotate(74deg) translate(1%, -2%);
    transform: rotate(74deg) translate(1%, -2%);
  }
  28% {
    border-radius: 43% 57% 69% 31%/42% 44% 56% 58%;
    -webkit-transform: rotate(110deg) translate(-2%, -2%);
    transform: rotate(110deg) translate(-2%, -2%);
  }
  42% {
    border-radius: 42% 58% 63% 37%/33% 31% 69% 67%;
    -webkit-transform: rotate(146deg) translate(0%, 1%);
    transform: rotate(146deg) translate(0%, 1%);
  }
  52% {
    border-radius: 47% 53% 65% 35%/43% 30% 70% 57%;
    -webkit-transform: rotate(182deg) translate(-2%, -2%);
    transform: rotate(182deg) translate(-2%, -2%);
  }
  63% {
    border-radius: 49% 51% 70% 30%/35% 30% 70% 65%;
    -webkit-transform: rotate(218deg) translate(-1%, 0%);
    transform: rotate(218deg) translate(-1%, 0%);
  }
  67% {
    border-radius: 34% 66% 51% 49%/42% 36% 64% 58%;
    -webkit-transform: rotate(254deg) translate(0%, -2%);
    transform: rotate(254deg) translate(0%, -2%);
  }
  77% {
    border-radius: 40% 60% 66% 34%/40% 40% 60% 60%;
    -webkit-transform: rotate(290deg) translate(-1%, -1%);
    transform: rotate(290deg) translate(-1%, -1%);
  }
  88% {
    border-radius: 45% 55% 57% 43%/36% 44% 56% 64%;
    -webkit-transform: rotate(326deg) translate(-2%, 2%);
    transform: rotate(326deg) translate(-2%, 2%);
  }
  100% {
    border-radius: 45% 55% 66% 34%/31% 41% 59% 69%;
    -webkit-transform: rotate(362deg) translate(-2%, -2%);
    transform: rotate(362deg) translate(-2%, -2%);
  }
}
@-webkit-keyframes animate-blob-4 {
  0% {
    border-radius: 43% 57% 70% 30%/40% 47% 53% 60%;
    -webkit-transform: rotate(24deg) translate(-1%, -2%);
    transform: rotate(24deg) translate(-1%, -2%);
  }
  10% {
    border-radius: 39% 61% 52% 48%/42% 43% 57% 58%;
    -webkit-transform: rotate(69deg) translate(-1%, -2%);
    transform: rotate(69deg) translate(-1%, -2%);
  }
  22% {
    border-radius: 41% 59% 63% 37%/43% 39% 61% 57%;
    -webkit-transform: rotate(114deg) translate(2%, 0%);
    transform: rotate(114deg) translate(2%, 0%);
  }
  38% {
    border-radius: 33% 67% 57% 43%/38% 46% 54% 62%;
    -webkit-transform: rotate(159deg) translate(1%, -1%);
    transform: rotate(159deg) translate(1%, -1%);
  }
  52% {
    border-radius: 45% 55% 52% 48%/33% 31% 69% 67%;
    -webkit-transform: rotate(204deg) translate(-1%, -2%);
    transform: rotate(204deg) translate(-1%, -2%);
  }
  65% {
    border-radius: 50% 50% 54% 46%/45% 43% 57% 55%;
    -webkit-transform: rotate(249deg) translate(-2%, 0%);
    transform: rotate(249deg) translate(-2%, 0%);
  }
  76% {
    border-radius: 47% 53% 57% 43%/47% 31% 69% 53%;
    -webkit-transform: rotate(294deg) translate(1%, 0%);
    transform: rotate(294deg) translate(1%, 0%);
  }
  91% {
    border-radius: 47% 53% 70% 30%/30% 48% 52% 70%;
    -webkit-transform: rotate(339deg) translate(-1%, 2%);
    transform: rotate(339deg) translate(-1%, 2%);
  }
  100% {
    border-radius: 43% 57% 70% 30%/40% 47% 53% 60%;
    -webkit-transform: rotate(384deg) translate(-1%, -2%);
    transform: rotate(384deg) translate(-1%, -2%);
  }
}
@keyframes animate-blob-4 {
  0% {
    border-radius: 43% 57% 70% 30%/40% 47% 53% 60%;
    -webkit-transform: rotate(24deg) translate(-1%, -2%);
    transform: rotate(24deg) translate(-1%, -2%);
  }
  10% {
    border-radius: 39% 61% 52% 48%/42% 43% 57% 58%;
    -webkit-transform: rotate(69deg) translate(-1%, -2%);
    transform: rotate(69deg) translate(-1%, -2%);
  }
  22% {
    border-radius: 41% 59% 63% 37%/43% 39% 61% 57%;
    -webkit-transform: rotate(114deg) translate(2%, 0%);
    transform: rotate(114deg) translate(2%, 0%);
  }
  38% {
    border-radius: 33% 67% 57% 43%/38% 46% 54% 62%;
    -webkit-transform: rotate(159deg) translate(1%, -1%);
    transform: rotate(159deg) translate(1%, -1%);
  }
  52% {
    border-radius: 45% 55% 52% 48%/33% 31% 69% 67%;
    -webkit-transform: rotate(204deg) translate(-1%, -2%);
    transform: rotate(204deg) translate(-1%, -2%);
  }
  65% {
    border-radius: 50% 50% 54% 46%/45% 43% 57% 55%;
    -webkit-transform: rotate(249deg) translate(-2%, 0%);
    transform: rotate(249deg) translate(-2%, 0%);
  }
  76% {
    border-radius: 47% 53% 57% 43%/47% 31% 69% 53%;
    -webkit-transform: rotate(294deg) translate(1%, 0%);
    transform: rotate(294deg) translate(1%, 0%);
  }
  91% {
    border-radius: 47% 53% 70% 30%/30% 48% 52% 70%;
    -webkit-transform: rotate(339deg) translate(-1%, 2%);
    transform: rotate(339deg) translate(-1%, 2%);
  }
  100% {
    border-radius: 43% 57% 70% 30%/40% 47% 53% 60%;
    -webkit-transform: rotate(384deg) translate(-1%, -2%);
    transform: rotate(384deg) translate(-1%, -2%);
  }
}
@-webkit-keyframes animate-blob-5 {
  0% {
    border-radius: 49% 51% 63% 37%/44% 37% 63% 56%;
    -webkit-transform: rotate(4deg) translate(0%, 2%);
    transform: rotate(4deg) translate(0%, 2%);
  }
  7% {
    border-radius: 42% 58% 56% 44%/45% 50% 50% 55%;
    -webkit-transform: rotate(40deg) translate(1%, -2%);
    transform: rotate(40deg) translate(1%, -2%);
  }
  22% {
    border-radius: 41% 59% 51% 49%/32% 47% 53% 68%;
    -webkit-transform: rotate(76deg) translate(0%, -1%);
    transform: rotate(76deg) translate(0%, -1%);
  }
  27% {
    border-radius: 32% 68% 53% 47%/41% 46% 54% 59%;
    -webkit-transform: rotate(112deg) translate(-1%, 1%);
    transform: rotate(112deg) translate(-1%, 1%);
  }
  40% {
    border-radius: 35% 65% 69% 31%/45% 45% 55% 55%;
    -webkit-transform: rotate(148deg) translate(1%, -1%);
    transform: rotate(148deg) translate(1%, -1%);
  }
  53% {
    border-radius: 39% 61% 65% 35%/50% 44% 56% 50%;
    -webkit-transform: rotate(184deg) translate(0%, 2%);
    transform: rotate(184deg) translate(0%, 2%);
  }
  59% {
    border-radius: 44% 56% 69% 31%/38% 40% 60% 62%;
    -webkit-transform: rotate(220deg) translate(-2%, 2%);
    transform: rotate(220deg) translate(-2%, 2%);
  }
  73% {
    border-radius: 44% 56% 56% 44%/30% 40% 60% 70%;
    -webkit-transform: rotate(256deg) translate(2%, 0%);
    transform: rotate(256deg) translate(2%, 0%);
  }
  81% {
    border-radius: 43% 57% 51% 49%/47% 37% 63% 53%;
    -webkit-transform: rotate(292deg) translate(-1%, 0%);
    transform: rotate(292deg) translate(-1%, 0%);
  }
  88% {
    border-radius: 32% 68% 50% 50%/40% 30% 70% 60%;
    -webkit-transform: rotate(328deg) translate(0%, 1%);
    transform: rotate(328deg) translate(0%, 1%);
  }
  100% {
    border-radius: 49% 51% 63% 37%/44% 37% 63% 56%;
    -webkit-transform: rotate(364deg) translate(0%, 2%);
    transform: rotate(364deg) translate(0%, 2%);
  }
}
@keyframes animate-blob-5 {
  0% {
    border-radius: 49% 51% 63% 37%/44% 37% 63% 56%;
    -webkit-transform: rotate(4deg) translate(0%, 2%);
    transform: rotate(4deg) translate(0%, 2%);
  }
  7% {
    border-radius: 42% 58% 56% 44%/45% 50% 50% 55%;
    -webkit-transform: rotate(40deg) translate(1%, -2%);
    transform: rotate(40deg) translate(1%, -2%);
  }
  22% {
    border-radius: 41% 59% 51% 49%/32% 47% 53% 68%;
    -webkit-transform: rotate(76deg) translate(0%, -1%);
    transform: rotate(76deg) translate(0%, -1%);
  }
  27% {
    border-radius: 32% 68% 53% 47%/41% 46% 54% 59%;
    -webkit-transform: rotate(112deg) translate(-1%, 1%);
    transform: rotate(112deg) translate(-1%, 1%);
  }
  40% {
    border-radius: 35% 65% 69% 31%/45% 45% 55% 55%;
    -webkit-transform: rotate(148deg) translate(1%, -1%);
    transform: rotate(148deg) translate(1%, -1%);
  }
  53% {
    border-radius: 39% 61% 65% 35%/50% 44% 56% 50%;
    -webkit-transform: rotate(184deg) translate(0%, 2%);
    transform: rotate(184deg) translate(0%, 2%);
  }
  59% {
    border-radius: 44% 56% 69% 31%/38% 40% 60% 62%;
    -webkit-transform: rotate(220deg) translate(-2%, 2%);
    transform: rotate(220deg) translate(-2%, 2%);
  }
  73% {
    border-radius: 44% 56% 56% 44%/30% 40% 60% 70%;
    -webkit-transform: rotate(256deg) translate(2%, 0%);
    transform: rotate(256deg) translate(2%, 0%);
  }
  81% {
    border-radius: 43% 57% 51% 49%/47% 37% 63% 53%;
    -webkit-transform: rotate(292deg) translate(-1%, 0%);
    transform: rotate(292deg) translate(-1%, 0%);
  }
  88% {
    border-radius: 32% 68% 50% 50%/40% 30% 70% 60%;
    -webkit-transform: rotate(328deg) translate(0%, 1%);
    transform: rotate(328deg) translate(0%, 1%);
  }
  100% {
    border-radius: 49% 51% 63% 37%/44% 37% 63% 56%;
    -webkit-transform: rotate(364deg) translate(0%, 2%);
    transform: rotate(364deg) translate(0%, 2%);
  }
}
@-webkit-keyframes animate-blob-6 {
  0% {
    border-radius: 47% 53% 55% 45%/30% 38% 62% 70%;
    -webkit-transform: rotate(36deg) translate(0%, 1%);
    transform: rotate(36deg) translate(0%, 1%);
  }
  11% {
    border-radius: 40% 60% 69% 31%/50% 45% 55% 50%;
    -webkit-transform: rotate(72deg) translate(1%, -1%);
    transform: rotate(72deg) translate(1%, -1%);
  }
  20% {
    border-radius: 43% 57% 51% 49%/43% 41% 59% 57%;
    -webkit-transform: rotate(108deg) translate(1%, 1%);
    transform: rotate(108deg) translate(1%, 1%);
  }
  27% {
    border-radius: 50% 50% 55% 45%/32% 43% 57% 68%;
    -webkit-transform: rotate(144deg) translate(-2%, -1%);
    transform: rotate(144deg) translate(-2%, -1%);
  }
  38% {
    border-radius: 42% 58% 52% 48%/38% 49% 51% 62%;
    -webkit-transform: rotate(180deg) translate(1%, 0%);
    transform: rotate(180deg) translate(1%, 0%);
  }
  53% {
    border-radius: 39% 61% 63% 37%/35% 50% 50% 65%;
    -webkit-transform: rotate(216deg) translate(0%, 1%);
    transform: rotate(216deg) translate(0%, 1%);
  }
  58% {
    border-radius: 30% 70% 52% 48%/40% 49% 51% 60%;
    -webkit-transform: rotate(252deg) translate(-1%, -1%);
    transform: rotate(252deg) translate(-1%, -1%);
  }
  67% {
    border-radius: 42% 58% 58% 42%/49% 46% 54% 51%;
    -webkit-transform: rotate(288deg) translate(1%, 1%);
    transform: rotate(288deg) translate(1%, 1%);
  }
  78% {
    border-radius: 40% 60% 63% 37%/45% 31% 69% 55%;
    -webkit-transform: rotate(324deg) translate(-1%, 0%);
    transform: rotate(324deg) translate(-1%, 0%);
  }
  89% {
    border-radius: 42% 58% 65% 35%/38% 32% 68% 62%;
    -webkit-transform: rotate(360deg) translate(2%, -1%);
    transform: rotate(360deg) translate(2%, -1%);
  }
  100% {
    border-radius: 47% 53% 55% 45%/30% 38% 62% 70%;
    -webkit-transform: rotate(396deg) translate(0%, 1%);
    transform: rotate(396deg) translate(0%, 1%);
  }
}
@keyframes animate-blob-6 {
  0% {
    border-radius: 47% 53% 55% 45%/30% 38% 62% 70%;
    -webkit-transform: rotate(36deg) translate(0%, 1%);
    transform: rotate(36deg) translate(0%, 1%);
  }
  11% {
    border-radius: 40% 60% 69% 31%/50% 45% 55% 50%;
    -webkit-transform: rotate(72deg) translate(1%, -1%);
    transform: rotate(72deg) translate(1%, -1%);
  }
  20% {
    border-radius: 43% 57% 51% 49%/43% 41% 59% 57%;
    -webkit-transform: rotate(108deg) translate(1%, 1%);
    transform: rotate(108deg) translate(1%, 1%);
  }
  27% {
    border-radius: 50% 50% 55% 45%/32% 43% 57% 68%;
    -webkit-transform: rotate(144deg) translate(-2%, -1%);
    transform: rotate(144deg) translate(-2%, -1%);
  }
  38% {
    border-radius: 42% 58% 52% 48%/38% 49% 51% 62%;
    -webkit-transform: rotate(180deg) translate(1%, 0%);
    transform: rotate(180deg) translate(1%, 0%);
  }
  53% {
    border-radius: 39% 61% 63% 37%/35% 50% 50% 65%;
    -webkit-transform: rotate(216deg) translate(0%, 1%);
    transform: rotate(216deg) translate(0%, 1%);
  }
  58% {
    border-radius: 30% 70% 52% 48%/40% 49% 51% 60%;
    -webkit-transform: rotate(252deg) translate(-1%, -1%);
    transform: rotate(252deg) translate(-1%, -1%);
  }
  67% {
    border-radius: 42% 58% 58% 42%/49% 46% 54% 51%;
    -webkit-transform: rotate(288deg) translate(1%, 1%);
    transform: rotate(288deg) translate(1%, 1%);
  }
  78% {
    border-radius: 40% 60% 63% 37%/45% 31% 69% 55%;
    -webkit-transform: rotate(324deg) translate(-1%, 0%);
    transform: rotate(324deg) translate(-1%, 0%);
  }
  89% {
    border-radius: 42% 58% 65% 35%/38% 32% 68% 62%;
    -webkit-transform: rotate(360deg) translate(2%, -1%);
    transform: rotate(360deg) translate(2%, -1%);
  }
  100% {
    border-radius: 47% 53% 55% 45%/30% 38% 62% 70%;
    -webkit-transform: rotate(396deg) translate(0%, 1%);
    transform: rotate(396deg) translate(0%, 1%);
  }
}
@-webkit-keyframes animate-blob-7 {
  0% {
    border-radius: 49% 51% 57% 43%/39% 33% 67% 61%;
    -webkit-transform: rotate(27deg) translate(1%, 1%);
    transform: rotate(27deg) translate(1%, 1%);
  }
  7% {
    border-radius: 30% 70% 55% 45%/47% 43% 57% 53%;
    -webkit-transform: rotate(60deg) translate(-2%, -2%);
    transform: rotate(60deg) translate(-2%, -2%);
  }
  16% {
    border-radius: 35% 65% 53% 47%/46% 46% 54% 54%;
    -webkit-transform: rotate(93deg) translate(-1%, -2%);
    transform: rotate(93deg) translate(-1%, -2%);
  }
  27% {
    border-radius: 37% 63% 61% 39%/30% 48% 52% 70%;
    -webkit-transform: rotate(126deg) translate(0%, -1%);
    transform: rotate(126deg) translate(0%, -1%);
  }
  40% {
    border-radius: 35% 65% 67% 33%/47% 32% 68% 53%;
    -webkit-transform: rotate(159deg) translate(-2%, -2%);
    transform: rotate(159deg) translate(-2%, -2%);
  }
  44% {
    border-radius: 38% 62% 57% 43%/44% 43% 57% 56%;
    -webkit-transform: rotate(192deg) translate(1%, 1%);
    transform: rotate(192deg) translate(1%, 1%);
  }
  54% {
    border-radius: 38% 62% 64% 36%/47% 39% 61% 53%;
    -webkit-transform: rotate(225deg) translate(1%, 2%);
    transform: rotate(225deg) translate(1%, 2%);
  }
  66% {
    border-radius: 46% 54% 57% 43%/47% 46% 54% 53%;
    -webkit-transform: rotate(258deg) translate(2%, 1%);
    transform: rotate(258deg) translate(2%, 1%);
  }
  76% {
    border-radius: 30% 70% 60% 40%/33% 33% 67% 67%;
    -webkit-transform: rotate(291deg) translate(-1%, -1%);
    transform: rotate(291deg) translate(-1%, -1%);
  }
  84% {
    border-radius: 36% 64% 60% 40%/41% 39% 61% 59%;
    -webkit-transform: rotate(324deg) translate(1%, -2%);
    transform: rotate(324deg) translate(1%, -2%);
  }
  88% {
    border-radius: 45% 55% 58% 42%/43% 30% 70% 57%;
    -webkit-transform: rotate(357deg) translate(1%, 0%);
    transform: rotate(357deg) translate(1%, 0%);
  }
  100% {
    border-radius: 49% 51% 57% 43%/39% 33% 67% 61%;
    -webkit-transform: rotate(387deg) translate(1%, 1%);
    transform: rotate(387deg) translate(1%, 1%);
  }
}
@keyframes animate-blob-7 {
  0% {
    border-radius: 49% 51% 57% 43%/39% 33% 67% 61%;
    -webkit-transform: rotate(27deg) translate(1%, 1%);
    transform: rotate(27deg) translate(1%, 1%);
  }
  7% {
    border-radius: 30% 70% 55% 45%/47% 43% 57% 53%;
    -webkit-transform: rotate(60deg) translate(-2%, -2%);
    transform: rotate(60deg) translate(-2%, -2%);
  }
  16% {
    border-radius: 35% 65% 53% 47%/46% 46% 54% 54%;
    -webkit-transform: rotate(93deg) translate(-1%, -2%);
    transform: rotate(93deg) translate(-1%, -2%);
  }
  27% {
    border-radius: 37% 63% 61% 39%/30% 48% 52% 70%;
    -webkit-transform: rotate(126deg) translate(0%, -1%);
    transform: rotate(126deg) translate(0%, -1%);
  }
  40% {
    border-radius: 35% 65% 67% 33%/47% 32% 68% 53%;
    -webkit-transform: rotate(159deg) translate(-2%, -2%);
    transform: rotate(159deg) translate(-2%, -2%);
  }
  44% {
    border-radius: 38% 62% 57% 43%/44% 43% 57% 56%;
    -webkit-transform: rotate(192deg) translate(1%, 1%);
    transform: rotate(192deg) translate(1%, 1%);
  }
  54% {
    border-radius: 38% 62% 64% 36%/47% 39% 61% 53%;
    -webkit-transform: rotate(225deg) translate(1%, 2%);
    transform: rotate(225deg) translate(1%, 2%);
  }
  66% {
    border-radius: 46% 54% 57% 43%/47% 46% 54% 53%;
    -webkit-transform: rotate(258deg) translate(2%, 1%);
    transform: rotate(258deg) translate(2%, 1%);
  }
  76% {
    border-radius: 30% 70% 60% 40%/33% 33% 67% 67%;
    -webkit-transform: rotate(291deg) translate(-1%, -1%);
    transform: rotate(291deg) translate(-1%, -1%);
  }
  84% {
    border-radius: 36% 64% 60% 40%/41% 39% 61% 59%;
    -webkit-transform: rotate(324deg) translate(1%, -2%);
    transform: rotate(324deg) translate(1%, -2%);
  }
  88% {
    border-radius: 45% 55% 58% 42%/43% 30% 70% 57%;
    -webkit-transform: rotate(357deg) translate(1%, 0%);
    transform: rotate(357deg) translate(1%, 0%);
  }
  100% {
    border-radius: 49% 51% 57% 43%/39% 33% 67% 61%;
    -webkit-transform: rotate(387deg) translate(1%, 1%);
    transform: rotate(387deg) translate(1%, 1%);
  }
}
@-webkit-keyframes animate-blob-8 {
  0% {
    border-radius: 48% 52% 64% 36%/39% 50% 50% 61%;
    -webkit-transform: rotate(44deg) translate(0%, -2%);
    transform: rotate(44deg) translate(0%, -2%);
  }
  9% {
    border-radius: 32% 68% 70% 30%/33% 50% 50% 67%;
    -webkit-transform: rotate(84deg) translate(2%, -2%);
    transform: rotate(84deg) translate(2%, -2%);
  }
  23% {
    border-radius: 33% 67% 62% 38%/41% 32% 68% 59%;
    -webkit-transform: rotate(124deg) translate(2%, 1%);
    transform: rotate(124deg) translate(2%, 1%);
  }
  35% {
    border-radius: 35% 65% 68% 32%/30% 41% 59% 70%;
    -webkit-transform: rotate(164deg) translate(1%, -1%);
    transform: rotate(164deg) translate(1%, -1%);
  }
  48% {
    border-radius: 30% 70% 61% 39%/50% 37% 63% 50%;
    -webkit-transform: rotate(204deg) translate(0%, -2%);
    transform: rotate(204deg) translate(0%, -2%);
  }
  57% {
    border-radius: 40% 60% 60% 40%/35% 39% 61% 65%;
    -webkit-transform: rotate(244deg) translate(0%, -2%);
    transform: rotate(244deg) translate(0%, -2%);
  }
  68% {
    border-radius: 44% 56% 61% 39%/32% 34% 66% 68%;
    -webkit-transform: rotate(284deg) translate(-2%, -1%);
    transform: rotate(284deg) translate(-2%, -1%);
  }
  75% {
    border-radius: 31% 69% 69% 31%/50% 32% 68% 50%;
    -webkit-transform: rotate(324deg) translate(-2%, -1%);
    transform: rotate(324deg) translate(-2%, -1%);
  }
  86% {
    border-radius: 32% 68% 67% 33%/45% 39% 61% 55%;
    -webkit-transform: rotate(364deg) translate(2%, 2%);
    transform: rotate(364deg) translate(2%, 2%);
  }
  100% {
    border-radius: 48% 52% 64% 36%/39% 50% 50% 61%;
    -webkit-transform: rotate(404deg) translate(0%, -2%);
    transform: rotate(404deg) translate(0%, -2%);
  }
}
@keyframes animate-blob-8 {
  0% {
    border-radius: 48% 52% 64% 36%/39% 50% 50% 61%;
    -webkit-transform: rotate(44deg) translate(0%, -2%);
    transform: rotate(44deg) translate(0%, -2%);
  }
  9% {
    border-radius: 32% 68% 70% 30%/33% 50% 50% 67%;
    -webkit-transform: rotate(84deg) translate(2%, -2%);
    transform: rotate(84deg) translate(2%, -2%);
  }
  23% {
    border-radius: 33% 67% 62% 38%/41% 32% 68% 59%;
    -webkit-transform: rotate(124deg) translate(2%, 1%);
    transform: rotate(124deg) translate(2%, 1%);
  }
  35% {
    border-radius: 35% 65% 68% 32%/30% 41% 59% 70%;
    -webkit-transform: rotate(164deg) translate(1%, -1%);
    transform: rotate(164deg) translate(1%, -1%);
  }
  48% {
    border-radius: 30% 70% 61% 39%/50% 37% 63% 50%;
    -webkit-transform: rotate(204deg) translate(0%, -2%);
    transform: rotate(204deg) translate(0%, -2%);
  }
  57% {
    border-radius: 40% 60% 60% 40%/35% 39% 61% 65%;
    -webkit-transform: rotate(244deg) translate(0%, -2%);
    transform: rotate(244deg) translate(0%, -2%);
  }
  68% {
    border-radius: 44% 56% 61% 39%/32% 34% 66% 68%;
    -webkit-transform: rotate(284deg) translate(-2%, -1%);
    transform: rotate(284deg) translate(-2%, -1%);
  }
  75% {
    border-radius: 31% 69% 69% 31%/50% 32% 68% 50%;
    -webkit-transform: rotate(324deg) translate(-2%, -1%);
    transform: rotate(324deg) translate(-2%, -1%);
  }
  86% {
    border-radius: 32% 68% 67% 33%/45% 39% 61% 55%;
    -webkit-transform: rotate(364deg) translate(2%, 2%);
    transform: rotate(364deg) translate(2%, 2%);
  }
  100% {
    border-radius: 48% 52% 64% 36%/39% 50% 50% 61%;
    -webkit-transform: rotate(404deg) translate(0%, -2%);
    transform: rotate(404deg) translate(0%, -2%);
  }
}
@-webkit-keyframes animate-blob-9 {
  0% {
    border-radius: 46% 54% 56% 44%/32% 30% 70% 68%;
    -webkit-transform: rotate(45deg) translate(2%, 2%);
    transform: rotate(45deg) translate(2%, 2%);
  }
  10% {
    border-radius: 35% 65% 55% 45%/37% 36% 64% 63%;
    -webkit-transform: rotate(90deg) translate(0%, -1%);
    transform: rotate(90deg) translate(0%, -1%);
  }
  22% {
    border-radius: 44% 56% 67% 33%/43% 37% 63% 57%;
    -webkit-transform: rotate(135deg) translate(-2%, -2%);
    transform: rotate(135deg) translate(-2%, -2%);
  }
  38% {
    border-radius: 39% 61% 62% 38%/45% 49% 51% 55%;
    -webkit-transform: rotate(180deg) translate(-2%, -2%);
    transform: rotate(180deg) translate(-2%, -2%);
  }
  49% {
    border-radius: 31% 69% 70% 30%/43% 42% 58% 57%;
    -webkit-transform: rotate(225deg) translate(2%, 2%);
    transform: rotate(225deg) translate(2%, 2%);
  }
  62% {
    border-radius: 33% 67% 62% 38%/31% 44% 56% 69%;
    -webkit-transform: rotate(270deg) translate(0%, 2%);
    transform: rotate(270deg) translate(0%, 2%);
  }
  76% {
    border-radius: 34% 66% 57% 43%/45% 43% 57% 55%;
    -webkit-transform: rotate(315deg) translate(-1%, 0%);
    transform: rotate(315deg) translate(-1%, 0%);
  }
  88% {
    border-radius: 37% 63% 65% 35%/31% 35% 65% 69%;
    -webkit-transform: rotate(360deg) translate(0%, 0%);
    transform: rotate(360deg) translate(0%, 0%);
  }
  100% {
    border-radius: 46% 54% 56% 44%/32% 30% 70% 68%;
    -webkit-transform: rotate(405deg) translate(2%, 2%);
    transform: rotate(405deg) translate(2%, 2%);
  }
}
@keyframes animate-blob-9 {
  0% {
    border-radius: 46% 54% 56% 44%/32% 30% 70% 68%;
    -webkit-transform: rotate(45deg) translate(2%, 2%);
    transform: rotate(45deg) translate(2%, 2%);
  }
  10% {
    border-radius: 35% 65% 55% 45%/37% 36% 64% 63%;
    -webkit-transform: rotate(90deg) translate(0%, -1%);
    transform: rotate(90deg) translate(0%, -1%);
  }
  22% {
    border-radius: 44% 56% 67% 33%/43% 37% 63% 57%;
    -webkit-transform: rotate(135deg) translate(-2%, -2%);
    transform: rotate(135deg) translate(-2%, -2%);
  }
  38% {
    border-radius: 39% 61% 62% 38%/45% 49% 51% 55%;
    -webkit-transform: rotate(180deg) translate(-2%, -2%);
    transform: rotate(180deg) translate(-2%, -2%);
  }
  49% {
    border-radius: 31% 69% 70% 30%/43% 42% 58% 57%;
    -webkit-transform: rotate(225deg) translate(2%, 2%);
    transform: rotate(225deg) translate(2%, 2%);
  }
  62% {
    border-radius: 33% 67% 62% 38%/31% 44% 56% 69%;
    -webkit-transform: rotate(270deg) translate(0%, 2%);
    transform: rotate(270deg) translate(0%, 2%);
  }
  76% {
    border-radius: 34% 66% 57% 43%/45% 43% 57% 55%;
    -webkit-transform: rotate(315deg) translate(-1%, 0%);
    transform: rotate(315deg) translate(-1%, 0%);
  }
  88% {
    border-radius: 37% 63% 65% 35%/31% 35% 65% 69%;
    -webkit-transform: rotate(360deg) translate(0%, 0%);
    transform: rotate(360deg) translate(0%, 0%);
  }
  100% {
    border-radius: 46% 54% 56% 44%/32% 30% 70% 68%;
    -webkit-transform: rotate(405deg) translate(2%, 2%);
    transform: rotate(405deg) translate(2%, 2%);
  }
}
@-webkit-keyframes animate-blob-10 {
  0% {
    border-radius: 39% 61% 54% 46%/44% 33% 67% 56%;
    -webkit-transform: rotate(42deg) translate(-2%, 2%);
    transform: rotate(42deg) translate(-2%, 2%);
  }
  11% {
    border-radius: 37% 63% 65% 35%/38% 49% 51% 62%;
    -webkit-transform: rotate(87deg) translate(-2%, -2%);
    transform: rotate(87deg) translate(-2%, -2%);
  }
  25% {
    border-radius: 32% 68% 56% 44%/38% 38% 62% 62%;
    -webkit-transform: rotate(132deg) translate(0%, -1%);
    transform: rotate(132deg) translate(0%, -1%);
  }
  38% {
    border-radius: 46% 54% 64% 36%/47% 44% 56% 53%;
    -webkit-transform: rotate(177deg) translate(1%, -1%);
    transform: rotate(177deg) translate(1%, -1%);
  }
  52% {
    border-radius: 32% 68% 59% 41%/49% 34% 66% 51%;
    -webkit-transform: rotate(222deg) translate(-2%, 2%);
    transform: rotate(222deg) translate(-2%, 2%);
  }
  61% {
    border-radius: 42% 58% 54% 46%/38% 33% 67% 62%;
    -webkit-transform: rotate(267deg) translate(2%, -1%);
    transform: rotate(267deg) translate(2%, -1%);
  }
  75% {
    border-radius: 44% 56% 65% 35%/36% 32% 68% 64%;
    -webkit-transform: rotate(312deg) translate(1%, 2%);
    transform: rotate(312deg) translate(1%, 2%);
  }
  85% {
    border-radius: 38% 62% 53% 47%/31% 46% 54% 69%;
    -webkit-transform: rotate(357deg) translate(1%, 1%);
    transform: rotate(357deg) translate(1%, 1%);
  }
  100% {
    border-radius: 39% 61% 54% 46%/44% 33% 67% 56%;
    -webkit-transform: rotate(402deg) translate(-2%, 2%);
    transform: rotate(402deg) translate(-2%, 2%);
  }
}
@keyframes animate-blob-10 {
  0% {
    border-radius: 39% 61% 54% 46%/44% 33% 67% 56%;
    -webkit-transform: rotate(42deg) translate(-2%, 2%);
    transform: rotate(42deg) translate(-2%, 2%);
  }
  11% {
    border-radius: 37% 63% 65% 35%/38% 49% 51% 62%;
    -webkit-transform: rotate(87deg) translate(-2%, -2%);
    transform: rotate(87deg) translate(-2%, -2%);
  }
  25% {
    border-radius: 32% 68% 56% 44%/38% 38% 62% 62%;
    -webkit-transform: rotate(132deg) translate(0%, -1%);
    transform: rotate(132deg) translate(0%, -1%);
  }
  38% {
    border-radius: 46% 54% 64% 36%/47% 44% 56% 53%;
    -webkit-transform: rotate(177deg) translate(1%, -1%);
    transform: rotate(177deg) translate(1%, -1%);
  }
  52% {
    border-radius: 32% 68% 59% 41%/49% 34% 66% 51%;
    -webkit-transform: rotate(222deg) translate(-2%, 2%);
    transform: rotate(222deg) translate(-2%, 2%);
  }
  61% {
    border-radius: 42% 58% 54% 46%/38% 33% 67% 62%;
    -webkit-transform: rotate(267deg) translate(2%, -1%);
    transform: rotate(267deg) translate(2%, -1%);
  }
  75% {
    border-radius: 44% 56% 65% 35%/36% 32% 68% 64%;
    -webkit-transform: rotate(312deg) translate(1%, 2%);
    transform: rotate(312deg) translate(1%, 2%);
  }
  85% {
    border-radius: 38% 62% 53% 47%/31% 46% 54% 69%;
    -webkit-transform: rotate(357deg) translate(1%, 1%);
    transform: rotate(357deg) translate(1%, 1%);
  }
  100% {
    border-radius: 39% 61% 54% 46%/44% 33% 67% 56%;
    -webkit-transform: rotate(402deg) translate(-2%, 2%);
    transform: rotate(402deg) translate(-2%, 2%);
  }
}
